<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/allBlogs.css" />
  </head>
  <body>
    <%- include("./navbar.ejs") %>

    <div class="container">
      <% allBlogs.forEach((blog)=>{ %>
      <div class="blog-card">
        <img class="blog-image" src="<%-blog.imageUrl %>" alt="Blog Image" />
        <div class="blog-title"><%-blog.title %></div>
        <div class="blog-subtitle"><%-blog.subTitle %></div>
        <div class="blog-description"><%-blog.description %></div>
        <a href="/blogs/<%- blog.id %>">See More</a>
      </div>
      <% }) %> <%- include("./footer.ejs") %>
    </div>
  </body>
</html>
