<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/addBlog.css">
  </head>
  <body>
    <%- include("./navbar.ejs") %>

    <div class="container">
      <h2>Edit Blog</h2>
      <form
        action="/edit/<%- blog[0].id%>"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="title">Title:</label>
        <input
          type="text"
          value="<%- blog[0].title%>"
          id="title"
          name="title"
          placeholder="Enter the title"
        /><br />

        <label for="image">Image URL:</label>
        <input
          type="file"
          value="<%- blog[0].imageUrl %>"
          id="image"
          name="image"
          placeholder="Enter the image URL"
        /><br />

        <label for="subtitle">Subtitle:</label>
        <input
          type="text"
          value="<%- blog[0].subTitle %>"
          id="subtitle"
          name="subTitle"
          placeholder="Enter the subtitle"
        /><br />

        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          placeholder="Enter the description"
        >
<%- blog[0].description%></textarea
        ><br />

        <input type="submit" value="Submit" />
      </form>
    </div>

    <%- include("./footer.ejs") %>
  </body>
</html>
