<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/singleBlog.css" />
  </head>
  <body>
    <%- include("./navbar.ejs") %>

    <div class="container">
      <div class="blog-card">
        <img
          class="blog-image"
          src="../<%- blog[0].imageUrl %>"
          alt="Blog Image"
        />
        <div class="blog-title"><%- blog[0].title%></div>
        <div class="blog-subtitle"><%- blog[0].subTitle%></div>
        <div class="blog-description"><%- blog[0].description%></div>
        <button><a href="/delete/<%- blog[0].id%>">Delete Me</a></button>
        <button><a href="/edit/<%- blog[0].id%>">Edit Me</a></button>
      </div>
      <%- include("./footer.ejs") %>
    </div>
  </body>
</html>
